<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Enoch {{name}}</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    </head>
    <body leftmargin="0" topmargin="0" offset="0" style="margin:0; padding:0;">
    	
        	<table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="templateContainer" style="border-collapse:collapse !important;">
				<tbody>
					<tr>
						<td align="center" valign="top">
							
							<table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse !important;background: linear-gradient(180deg, #851465 0%, #3B116D 34.67%, #31035E 69.57%, #09184D 100%);max-width: 600px;width:100%; height:auto;">
								<tbody style="background-image:url(https://cdn.enochdev.com/https://cdn.enochdev.com/images-urgent-fury-urgent-fury/Pattren.png);, background-repeat:no-repeat">
									<tr>
										<td style="padding:55px 32px 0px" valign="top">
											<table border="0" cellpadding="0" cellspacing="0" width="100%;">
												<tbody>
													<tr>
														<td valign="top" style="border:1px solid #FFD872; padding:28px 32px;border-radius:8px;">
															<table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse !important;">
																<tr>
																	<td valign="top" style="width:50%;">
																		<img src="https://cdn.enochdev.com/images-urgent-fury/logo.svg" alt="logo" style="width:84px; padding-bottom:25px"/>
																		<p style="border: 1px solid #CCC0FF; width:24px;margin:0px;"></p>
																		<p style="margin:0px;padding-top:26px; padding-bottom:33px;"><img src="https://cdn.enochdev.com/images-urgent-fury/tick.png" alt="logo"/></p>
																		<h1 style="font-family: 'Poppins';font-style: normal;font-weight: 400;font-size: 32px;line-height: 27px;color: #FFE350;padding-bottom:17px">
																			Hi, <strong>There!</strong>
																		</h1>
																		<table style="margin:0px;font-family: 'Raleway';font-style: normal;font-weight: 500;font-size: 16px;line-height: 27px;color: #FFFFFF;">
																			<tr>
																				<td>Name</td>
																				<td>{{name}}</td>
																			</tr>
																			<tr>
																				<td>Email</td>
																				<td>{{email}}</td>
																			</tr>
																			<tr>
																				<td>Type</td>
																				<td>{{type}}</td>
																			</tr>
																			<tr>
																				<td>Country</td>
																				<td>{{country}}</td>
																			</tr>
																			<tr>
																				<td>How to know about us</td>
																				<td>{{know_about_us}}</td>
																			</tr>
																			<tr>
																				<td>Contact Category</td>
																				<td>{{category}}</td>
																			</tr>
																			<tr>
																				<td>Message</td>
																				<td>{{text}}</td>
																			</tr>
																		</table>
																	</td>
																	<td valign="top" style="width:50%;text-align:right;">
																		<img src="https://cdn.enochdev.com/images-urgent-fury/hand1.png" alt="Hand" style="padding-top:25px"/>
																	</td>
																</tr>
																<tr>
																	<td colspan="2">
																		<p style="margin:0px;font-family: 'Raleway';font-style: normal;font-weight: 500;font-size: 16px;line-height: 27px;color: #FFFFFF;">
																			Thanks for contacting us, We have received your message and our team will get back to you ASAP.
																		</p>
																	</td>
																</tr>
																
															</table>
														</td>
													</tr>
												</tbody>																																			
											</table>
										</td>
									</tr>
									<tr >
										<td style="padding:0px 16px 10px" valign="top">
											<table border="0" cellpadding="0" width="100%;" cellspacing=16>
												<tbody>
													<tr>
														<td valign="top" style="border:1px solid #FFD872; padding:28px 32px;border-radius:8px;background: rgba(255, 255, 255, 0.1);width:50%;">
															<p style="height:84px;margin:0px;padding-bottom:20px;"><img src="https://cdn.enochdev.com/images-urgent-fury/social.png" alt="social"/></p>
															<h2 style="font-family: 'Poppins';font-style: normal;font-weight: 700;font-size: 16px;line-height: 27px;text-transform: uppercase;color: #FEC32B;padding-bottom:4px;margin:0px;">
																Social
															</h2>
															<p style="font-family: 'Poppins';font-style: normal;font-weight: 400;font-size: 14px;line-height: 21px;color: #FFFFFF; margin:0px;">
																Thanks for contacting us, We have received your message and our team will get back to you ASAP.
															</p>
														</td>
														<td valign="top" style="border:1px solid #FFD872; padding:28px 32px;border-radius:8px;width:50%;background: rgba(0, 0, 0, 0.1);">
															<p style="height:84px; margin:0px;padding-bottom:20px;"><img src="https://cdn.enochdev.com/images-urgent-fury/3dMarketplace.png" alt="3dMarketplace"/></p>
															<h2 style="font-family: 'Poppins';font-style: normal;font-weight: 700;font-size: 16px;line-height: 27px;text-transform: uppercase;color: #FEC32B;padding-bottom:4px;margin:0px;">
																3D Marketplace
															</h2>
															<p style="font-family: 'Poppins';font-style: normal;font-weight: 400;font-size: 14px;line-height: 21px;color: #FFFFFF;margin:0px;">
																A Headless 3D marketplace populated with avatar accessories, outfits and game assets created and curated by 3D artists across the globe 
															</p>
														</td>
													</tr>
													<tr>
														
														<td valign="top" style="border:1px solid #FFD872; padding:28px 32px;border-radius:8px;width:50%;background: rgba(0, 0, 0, 0.1);">
															<p style="height:84px; margin:0px;padding-bottom:20px;"><img src="https://cdn.enochdev.com/images-urgent-fury/entertainment.png" alt="entertainment"/></p>
															<h2 style="font-family: 'Poppins';font-style: normal;font-weight: 700;font-size: 16px;line-height: 27px;text-transform: uppercase;color: #FEC32B;padding-bottom:4px;margin:0px;">
																Entertainment
															</h2>
															<p style="font-family: 'Poppins';font-style: normal;font-weight: 400;font-size: 14px;line-height: 21px;color: #FFFFFF;margin:0px;">
																Epic betting games with compelling stories and replayability.  Stakeable collectibles and NFT rewards. A variety of Casino Games and passive income generation
															</p>
														</td>
														<td valign="top" style="border:1px solid #FFD872; padding:28px 32px;border-radius:8px;background: rgba(255, 255, 255, 0.1);width:50%;">
															<p style="height:84px;margin:0px;padding-bottom:20px;"><img src="https://cdn.enochdev.com/images-urgent-fury/openFinance.png" alt="openFinance"/></p>
															<h2 style="font-family: 'Poppins';font-style: normal;font-weight: 700;font-size: 16px;line-height: 27px;text-transform: uppercase;color: #FEC32B;padding-bottom:4px;margin:0px;">
																Open finance
															</h2>
															<p style="font-family: 'Poppins';font-style: normal;font-weight: 400;font-size: 14px;line-height: 21px;color: #FFFFFF;margin:0px;">
																Trade options for Crypto enthusiasts, different financial pools awarding users, content creators and artists with prizes and collectibles while also generating passive income for betters.
															</p>
														</td>
													</tr>
													<tr><td colspan="2" style="height:110px;background: #E9E3F0;border-radius: 4px;"></td></tr>
													<tr>
														<td colspan="2" style="height:143px;background:rgba(115, 32, 198, .2);background-image:url(https://cdn.enochdev.com/images-urgent-fury/question.png); background-repeat:no-repeat;background-position:center;">
															<table border="0" cellpadding="0" width="100%;" cellspacing=10>
																<tbody>
																	<tr>
																		<td style="width:50%;font-family: 'Poppins';font-style: normal;font-weight: 700;font-size: 18px;line-height: 24px;text-align: right;text-transform: uppercase;color: #FFFCFC;">
																			Are you <br/>ready for the<br/> future of Web  
																		</td>
																		<td>
																			<img src="https://cdn.enochdev.com/images-urgent-fury/socialCommerce.png" alt="social Commerce"/>
																		</td>
																	</tr>
																</tbody>
															</table>
														</td>
													</tr>
													<tr>
														<td colspan="2" style="text-align:center;padding-top:16px;padding-bottom:4px;">
															<img src="https://cdn.enochdev.com/images-urgent-fury/logo.svg" alt="logo"/>
														</td>
													</tr>
													<tr>
														<td colspan="2" style="text-align: center;">
															<a href="#" style="padding: 0px 10px;vertical-align:middle;"><img src="https://cdn.enochdev.com/images-urgent-fury/socialIcon1.png" alt="ticktok"></a>
															<a href="#" style="padding: 0px 10px;vertical-align:middle;"><img src="https://cdn.enochdev.com/images-urgent-fury/socialIcon2.png" alt="instagram"></a>
															<a href="#" style="padding: 0px 10px;vertical-align:middle;"><img src="https://cdn.enochdev.com/images-urgent-fury/socialIcon3.png" alt="github"></a>
															<a href="#" style="padding: 0px 10px;vertical-align:middle;"><img src="https://cdn.enochdev.com/images-urgent-fury/socialIcon4.png" alt="discord"></a>
															<a href="#" style="padding: 0px 10px;vertical-align:middle;"><img src="https://cdn.enochdev.com/images-urgent-fury/socialIcon5.png" alt="github"></a>
															<a href="#" style="padding: 0px 10px;vertical-align:middle;"><img src="https://cdn.enochdev.com/images-urgent-fury/socialIcon6.png" alt="twitter"></a>
															<a href="#" style="padding: 0px 10px;vertical-align:middle;"><img src="https://cdn.enochdev.com/images-urgent-fury/socialIcon7.png" alt="icon"></a>
															<a href="#" style="padding: 0px 10px;vertical-align:middle;"><img src="https://cdn.enochdev.com/images-urgent-fury/socialIcon8.png" alt="telegram"></a>
															<a href="#" style="padding: 0px 10px;vertical-align:middle;"><img src="https://cdn.enochdev.com/images-urgent-fury/socialIcon9.png" alt="icon"></a>
																		
														</td>
													</tr>
													<tr>
														<td colspan="2" style="text-align: center;font-family: 'Poppins';font-style: normal;font-weight: 400;font-size: 13px;line-height: 150%;color:#fff;">
															If you prefer not to receive emails like this, you may <a href="#" style="color:#fff;text-decoration:underline;">unsubscribe</a><br/>
															(c) 2022 Enoch. All rights reserved.
																		
														</td>
													</tr>
												</tbody>
											</table>
										</td>
												
									</tr>
								</tbody>
							</table>
							
						</td>
                	</tr>
            </tbody>
		</table>
    
</body>
</html>